# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# tokens
gmail_credentials.json
gmail_token.pickle
client_secret_web.json
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pipfile.lock 
Pipfile.lock

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Temp files
Scratches and Consoles/